*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: sans-serif;
    font-size: 20px;
    background: rgb(93, 4, 153);
    margin: 0;
    padding: 0;
}
.custom-navbar .nav-link, .custom-navbar
{
    color: #ffffff;
}
.navbar-brand
{
    margin-left: 20px;
    font-weight: 700;
}
.hero
{
    padding-left: 80px 20;
    text-align: left;
    padding: 10px;
} 
.hero-title
{
    margin-top: 80px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.hero h4
{
    margin: 10px 0;
    font-weight: 600;
}
.hero p
{
    max-width: 800px;
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.8;
    opacity: 0.9;
}
.card
{
    max-width: 300px;
    margin: auto;
}
.card-body
{
    padding: 15px;
}
.skil ,h2
{
    padding-left: 25px;
    margin-top: 50px;
    color: #ffffff;
    font-size: 25px;
}
.card-title
{
    font-size: 20px;
    font-weight: 700;
}
.skill-img
{
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 20px auto 0;
    display: block;
}
.logo
{
    width: 50px;
    height: auto;
    border-radius: 50%;
}
