*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: sans-serif;
    font-size: 20px;
    background: rgb(4, 104, 79);
    padding: 10;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
html, body
{
    height: 100%;
}
.custom-navbar .nav-link, .custom-navbar
{
    color: #ffffff;
}
.navbar-brand
{
    margin-left: 20px;
    font-weight: 700;
}
.hero
{
    padding-left: 80px 20;
    text-align: left;
    padding: 10px;
    margin-top: -60px;
} 
.hero-title
{
    margin-top: 80px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.hero h4
{
    margin: 10px 0;
    font-weight: 600;
}
.hero p
{
    max-width: 800px;
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.8;
    opacity: 0.9;
}
.card
{
    max-width: 300px;
    margin: auto;
}
.card-body
{
    padding: 15px;
}
.skil ,h2
{
    padding-left: 25px;
    margin-top: 50px;
    color: #ffffff;
    font-size: 25px;
}
.card-title
{
    font-size: 20px;
    font-weight: 700;
}
.skill-img
{
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 20px auto 0;
    display: block;
}
.logo
{
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.footer
{
    margin-top: 80px;
    padding-top: 80px;
}
[dir="rtl"] {
  text-align: right;
}
[dir="ltr"] {
  text-align: left;
}
[dir="rtl"] .navbar-nav 
{
  text-align: right;
  margin-left: 0 !important;
  margin-right: auto !important;
  padding-right: 0;
  padding-left: 0;
}
[dir="rtl"]
.hero
{
     text-align: right;
     margin-left: 0 !important;
     display: flex;
}
.lang-sweitch button
{
    padding: 2px 8px;
    font-size: 12px;
}  





